POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DB=postgres
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_USERNAME=
REDIS_PASSWORD=
SECRET_KEY=mysecretkey
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=8640
BOOTSTRAP_SERVERS=kafka:9092

SECURITY_PROTOCOL=PLAINTEXT

SASL_MECHANISMS=
SASL_USERNAME=
SASL_PASSWORD=

SESSION_TIMEOUT_MS=45000
CLIENT_ID=url-shortener
